@import "variaveis.css";

header {
  position: sticky;
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-family: "Inter-Regular";
  background-image: var(--linear);
}

header.header {
  width: 90vw;
  height: 104px;
  top: 0;
  left: 0;
}

header div.header_container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 3em;
}


header div.header_container h2.blog {
  text-align: end;
}

header div.header_container a {
  text-decoration: none;
  color: var(--white);
}

header div.search_container form {
  width: 70vw;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

header div.search_container form input[type='text'] {
  width: 70vw;
  height: 40px;
  background: none;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-family: 'Inter-Medium';
  font-weight: 500;
}

header div.search_container form input[type='text']:focus {
  outline: none;
}

header div.search_container form input[type='text']::placeholder {
  color: var(--white);
  opacity: 0.5;
}

header div.search_container form button.clear_button {
  background: url('../assets/icons/clear-x.svg') center no-repeat;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

header div.search_container form button.hidden {
  visibility: hidden;
}

header div.search_container form button.search_button {
  background: url('../assets/icons/search.svg') center no-repeat;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
